$primary: #223250;
$background: #EDF7F6;
$nav-color: #96bdb6;
$gallery-color_hover: #f5d6a8;

$font-logo: 'Sofia', cursive;
$font-nav: 'Open Sans', sans-serif;
$font-drinks-manu: 'Paytone One', sans-serif;